CONFIG_OVIS_MANAGER_PORT=8080
CONFIG_OVIS_MANAGER_BIND_ADDRESS=192.168.42.1
CONFIG_OVIS_MANAGER_ALLOWED_ORIGIN=https://ovis.aimorelogy.com
CONFIG_OVIS_MANAGER_DEV_ORIGIN=http://localhost:5173
CONFIG_OVIS_MANAGER_DEV_ORIGIN_ALT=http://127.0.0.1:5173
CONFIG_OVIS_FIRMWARE_VERSION=1.0.0
CONFIG_OVIS_AI_BNR=y
CONFIG_OVIS_AI_BNR_CERTIFIED=y
